body {
    background-color: #f5f5f5;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 750px;
    background-position: center;
    background-position-y: 15%;
    position:relative;
  }
 
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    color: #f5f5f5;
    position: relative;
    text-align: center;
    margin-top: 7%;
  }
  
  p {
    color:#f5f5f5;
    font-size: 16px;
    margin-top: 0;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    color: #f5f5f5;
    position: relative;
    text-align: center;
    margin-bottom: 15%;
  }

  .container {
    /* Set the container to be a flex container */
    display: flex;
    justify-content: center; /* Horizontally center the content within the container */
    align-items: center; /* Vertically center the content within the container */
  }
  
  .ordered-list {
    /* Adjust the margins or positioning of the ordered list */
    margin: 0; /* Remove default margins */
    padding-bottom: 300px; /* Add left padding to indent the list items */
    color: #f5f5f5;
    position: absolute;
    display: inline-block;
    padding-right: 350px; 
  }

  .unordered-list {
    /* Adjust the margins or positioning of the ordered list */
    margin: 0; /* Remove default margins */
    padding-bottom: 300px; /* Add left padding to indent the list items */
    color: #f5f5f5;
    position: absolute;
    display: inline-block;
    padding-left: 180px;
  }
  
  .table-container {
    position: absolute;
    display: inline-block;
    margin-right: 100px;
    margin-left: 500px; 
    top: 230px;
    left: 250px;/* Add spacing between the tables */
}

.table-container2 {
    
  display: inline-block;
  margin-right: 50px;
  position: absolute;
  top: 230px;
  right: 700px;
}

/* Style the table */
table {
    border-collapse: collapse;
    width: 50px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    color:#f2f2f2
}

th {
    background-color: black;
}
  
.welcome {
 position: relative;
 bottom: 70px;
}
  

/* Apply styles to the anchor element */
a {
  color: #007bff; /* Blue color for the link */
  text-decoration: none; /* Remove underline from the link */
}

/* Apply styles when the mouse hovers over the link */
a:hover {
  text-decoration: underline; /* Add underline on hover */
}  
  
  
  